html, body {
  width: 100%;
  height: 100%;
  font-family: 'Varela Round', sans-serif; }

::selection {
  background: #e49b00;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #e49b00;
  /* Gecko Browsers */ }

a, button {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

p {
  font-size: 16px;
  line-height: 24px;
  color: #6e6e6e; }

@media screen and (max-width: 767px) {
  .home-body {
    height: auto;
    min-height: 100%; } }

body {
  background-color: white;
  position: relative;
  overflow-x: hidden; }
  body .slick-slider {
    margin-bottom: 0; }
  body .slick {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0; }
    body .slick .slick-list {
      width: 100%;
      height: 100%; }
      body .slick .slick-list .slick-track {
        width: 100%;
        height: 100%; }
        body .slick .slick-list .slick-track .item {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center center; }
        body .slick .slick-list .slick-track .slider-1 {
          background-image: url("../img/slider-1.jpg"); }
        body .slick .slick-list .slick-track .slider-2 {
          background-image: url("../img/slider-2.jpg"); }
        body .slick .slick-list .slick-track .slider-3 {
          background-image: url("../img/slider-3.jpg"); }
        body .slick .slick-list .slick-track .slider-4 {
          background-image: url("../img/slider-4.jpg"); }
  body .bg-carousel-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); }
  body .main-nav {
    padding-top: 25px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    body .main-nav .icon-bar {
      background-color: #ffb518; }
    body .main-nav .navbar-brand {
      height: auto;
      padding: 10px 15px 15px 30px; }
    body .main-nav .navbar-collapse {
      padding-right: 15px; }
      @media screen and (max-width: 767px) {
        body .main-nav .navbar-collapse {
          width: 100%;
          max-width: 250px;
          margin: 0;
          background-color: rgba(51, 60, 69, 0.95);
          border-top: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          border-radius: 18px;
          position: absolute;
          right: 10px;
          top: 100%;
          -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); } }
      body .main-nav .navbar-collapse .navbar-nav li {
        padding: 0 5px; }
        body .main-nav .navbar-collapse .navbar-nav li .nav-link {
          font-size: 14px;
          font-family: 'Varela Round', sans-serif;
          color: rgba(255, 255, 255, 0.75);
          text-transform: uppercase;
          padding: 5px 15px;
          margin-top: 10px; }
          body .main-nav .navbar-collapse .navbar-nav li .nav-link:focus {
            background-color: transparent; }
          body .main-nav .navbar-collapse .navbar-nav li .nav-link:hover {
            background-color: transparent;
            color: white; }
          @media screen and (min-width: 768px) and (max-width: 815px) {
            body .main-nav .navbar-collapse .navbar-nav li .nav-link {
              font-size: 12px; } }
        body .main-nav .navbar-collapse .navbar-nav li .nav-link-small {
          font-size: 10px; }
        @media screen and (min-width: 768px) {
          body .main-nav .navbar-collapse .navbar-nav li .scroll-link {
            color: #888888; }
            body .main-nav .navbar-collapse .navbar-nav li .scroll-link:hover {
              color: black; } }
      body .main-nav .navbar-collapse .navbar-nav .b-access {
        padding: 0 0 0 15px; }
        @media screen and (max-width: 767px) {
          body .main-nav .navbar-collapse .navbar-nav .b-access {
            padding: 0 5px;
            text-align: center; } }
        body .main-nav .navbar-collapse .navbar-nav .b-access a {
          background-color: #ff4318;
          border-radius: 20px;
          text-transform: none;
          color: rgba(255, 255, 255, 0.9);
          padding: 7px 20px;
          margin-top: 7px; }
          @media screen and (max-width: 788px) {
            body .main-nav .navbar-collapse .navbar-nav .b-access a {
              padding: 7px 9px; } }
          @media screen and (min-width: 768px) and (max-width: 835px) {
            body .main-nav .navbar-collapse .navbar-nav .b-access a {
              font-size: 12px; } }
          body .main-nav .navbar-collapse .navbar-nav .b-access a:focus {
            background-color: #ff4318;
            color: rgba(255, 255, 255, 0.9); }
          body .main-nav .navbar-collapse .navbar-nav .b-access a:hover {
            background-color: #e42a00;
            color: white; }
  body .scroll-nav {
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px #999999;
    -moz-box-shadow: 0px 2px 5px 0px #999999;
    box-shadow: 0px 2px 5px 0px #999999; }
  body .scroll-nav-home {
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(128, 128, 128, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(128, 128, 128, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(128, 128, 128, 0.1); }
  body .home-main {
    height: 100%; }
    @media screen and (max-width: 767px) {
      body .home-main {
        height: auto; } }
    body .home-main div, body .home-main .hand {
      height: 100%; }
    body .home-main .action {
      height: 100%;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media screen and (max-width: 767px) {
        body .home-main .action {
          display: block;
          margin-top: 150px; } }
      body .home-main .action .action-wrapper {
        height: auto; }
        body .home-main .action .action-wrapper h1, body .home-main .action .action-wrapper h2 {
          color: #fff;
          font-family: 'Varela Round', sans-serif;
          width: 100%;
          display: block; }
        body .home-main .action .action-wrapper h1 {
          font-size: 42px;
          line-height: 55px; }
          @media screen and (min-width: 768px) and (max-width: 991px) {
            body .home-main .action .action-wrapper h1 {
              font-size: 36px;
              line-height: 42px; } }
          @media screen and (max-width: 480px) {
            body .home-main .action .action-wrapper h1 {
              font-size: 32px;
              line-height: 38px; } }
        body .home-main .action .action-wrapper h2 {
          font-size: 18px;
          line-height: 24px;
          margin-top: 30px; }
        body .home-main .action .action-wrapper .input-group {
          margin-top: 40px;
          font-family: 'Varela Round', sans-serif; }
          @media screen and (min-width: 768px) and (max-width: 991px) {
            body .home-main .action .action-wrapper .input-group {
              width: 100%; } }
          @media screen and (max-width: 480px) {
            body .home-main .action .action-wrapper .input-group {
              width: 100%; } }
          body .home-main .action .action-wrapper .input-group input {
            font-size: 16px;
            padding: 25px;
            border-radius: 10px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-color: #fff; }
            body .home-main .action .action-wrapper .input-group input:focus {
              border-color: #ffb518;
              outline: 0;
              -webkit-box-shadow: inset 0 1px 1px rgba(255, 67, 24, 0.075), 0 0 8px rgba(255, 67, 24, 0.6);
              box-shadow: inset 0 1px 1px rgba(255, 67, 24, 0.075), 0 0 8px rgba(255, 67, 24, 0.6); }
            @media screen and (min-width: 768px) and (max-width: 991px) {
              body .home-main .action .action-wrapper .input-group input {
                display: block;
                float: left;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 0; } }
            @media screen and (max-width: 480px) {
              body .home-main .action .action-wrapper .input-group input {
                display: block;
                float: left;
                border-top-right-radius: 10px;
                border-bottom-left-radius: 0; } }
          @media screen and (min-width: 768px) and (max-width: 991px) {
            body .home-main .action .action-wrapper .input-group .input-group-btn {
              display: block;
              float: left;
              width: 100%; } }
          @media screen and (max-width: 480px) {
            body .home-main .action .action-wrapper .input-group .input-group-btn {
              display: block;
              float: left;
              width: 100%; } }
          body .home-main .action .action-wrapper .input-group .input-group-btn .btn {
            font-size: 16px;
            padding: 14px 20px;
            border-radius: 10px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-color: #ffb518;
            background-color: #ffb518;
            color: #fff;
            text-transform: uppercase;
            outline: none; }
            body .home-main .action .action-wrapper .input-group .input-group-btn .btn:hover {
              z-index: 1;
              background-color: #cb8a00;
              border-color: #da9400; }
            body .home-main .action .action-wrapper .input-group .input-group-btn .btn:focus {
              z-index: 1; }
            @media screen and (min-width: 768px) and (max-width: 991px) {
              body .home-main .action .action-wrapper .input-group .input-group-btn .btn {
                border-top-right-radius: 0;
                border-bottom-left-radius: 10px;
                width: 100%;
                margin: 0; } }
            @media screen and (max-width: 480px) {
              body .home-main .action .action-wrapper .input-group .input-group-btn .btn {
                border-top-right-radius: 0;
                border-bottom-left-radius: 10px;
                width: 100%;
                margin: 0; } }
    @media screen and (max-width: 767px) {
      body .home-main .hand-container {
        overflow-x: hidden; } }
    body .home-main .hand {
      position: relative;
      margin-left: -15px;
      margin-right: -15px; }
      body .home-main .hand .phone {
        height: 220px;
        width: 189px;
        position: absolute;
        background-color: transparent;
        bottom: 253px;
        left: 80px;
        z-index: 3; }
        body .home-main .hand .phone img {
          width: 100%;
          position: relative; }
        body .home-main .hand .phone .slick-prev, body .home-main .hand .phone .slick-next {
          position: absolute;
          height: 21%;
          width: 25%;
          border-radius: 50%;
          bottom: -30%;
          top: auto;
          opacity: 0; }
        body .home-main .hand .phone .slick-next {
          right: 16%;
          left: auto; }
        body .home-main .hand .phone .slick-prev {
          left: 17%;
          right: auto; }
        @media screen and (min-width: 1200px) {
          body .home-main .hand .phone {
            bottom: 238px;
            left: 75px;
            height: 209px;
            width: 179px; } }
        @media screen and (min-width: 1367px) and (min-height: 769px) {
          body .home-main .hand .phone {
            height: 272px;
            width: 233px;
            bottom: 311px;
            left: 98px; } }
        @media screen and (max-width: 767px) {
          body .home-main .hand .phone {
            bottom: 209px;
            left: 50%;
            margin-left: -80px;
            height: 180px;
            width: 156px; } }
        @media screen and (min-width: 992px) and (max-width: 1199px) {
          body .home-main .hand .phone {
            height: 183px;
            width: 157px;
            bottom: 210px;
            left: 66px; } }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          body .home-main .hand .phone {
            height: 170px;
            width: 147px;
            bottom: 195px;
            left: 61px; } }
      body .home-main .hand > img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2; }
        @media screen and (min-width: 1200px) {
          body .home-main .hand > img {
            width: 460px; } }
        @media screen and (min-width: 1367px) and (min-height: 769px) {
          body .home-main .hand > img {
            width: 600px; } }
        @media screen and (max-width: 767px) {
          body .home-main .hand > img {
            position: relative;
            bottom: 0;
            left: 50%;
            width: 400px;
            margin-top: 50px;
            margin-left: -145px; } }
  body .home-footer {
    position: absolute;
    bottom: 0;
    width: 100%; }
    body .home-footer .footer-nav {
      padding-bottom: 20px;
      font-family: 'Varela Round', sans-serif; }
      body .home-footer .footer-nav ul {
        padding-left: 10px;
        margin-bottom: 0; }
        body .home-footer .footer-nav ul li {
          list-style: none;
          float: left; }
          body .home-footer .footer-nav ul li a {
            color: rgba(255, 255, 255, 0.75);
            padding: 0 15px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 12px; }
            body .home-footer .footer-nav ul li a:hover {
              color: white; }
  body .mobile-b-access {
    background-color: #ffb518;
    position: relative;
    padding: 30px 0 40px;
    text-align: center; }
    body .mobile-b-access p {
      margin-bottom: 15px;
      font-size: 18px;
      color: #555555; }
    body .mobile-b-access a {
      background-color: #ff4318;
      border-radius: 50px;
      text-transform: none;
      color: rgba(255, 255, 255, 0.9);
      padding: 10px 40px;
      margin-top: 7px;
      font-size: 18px;
      display: inline-block;
      text-decoration: none; }
      body .mobile-b-access a:hover {
        background-color: #e42a00;
        color: white; }
      @media screen and (max-width: 480px) {
        body .mobile-b-access a {
          width: 100%; } }

.b-access-hero {
  background-image: url("../img/b-access-hero.jpg");
  background-size: cover;
  background-position: top center; }
  .b-access-hero h1 {
    font-size: 32px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    background-color: #ff4318;
    display: block;
    width: 100%;
    max-width: 510px;
    margin: 250px auto 30px;
    padding: 10px 30px;
    border-radius: 30px; }
    @media screen and (max-width: 540px) {
      .b-access-hero h1 {
        font-size: 24px;
        line-height: 32px;
        max-width: 400px; } }

.b-access-main {
  background-color: white;
  padding: 50px 0 40px; }
  .b-access-main h2 {
    font-size: 36px;
    line-height: 44px;
    color: #ffb518;
    margin-bottom: 15px; }
  .b-access-main p {
    margin-bottom: 20px; }
  .b-access-main form {
    color: #6e6e6e; }
    .b-access-main form label {
      font-size: 20px;
      font-weight: normal; }
    .b-access-main form .form-control {
      margin-bottom: 10px; }
      .b-access-main form .form-control:focus {
        border-color: #ffb518;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(255, 67, 24, 0.075), 0 0 8px rgba(255, 67, 24, 0.6);
        box-shadow: inset 0 1px 1px rgba(255, 67, 24, 0.075), 0 0 8px rgba(255, 67, 24, 0.6); }
    .b-access-main form .check-group {
      width: 50%; }
      @media screen and (max-width: 480px) {
        .b-access-main form .check-group {
          width: 100%; } }
      .b-access-main form .check-group .checklabel {
        padding-left: 25px; }
      .b-access-main form .check-group input[type="checkbox"] {
        vertical-align: middle; }
      .b-access-main form .check-group input[type="checkbox"] + label {
        cursor: pointer; }
      .b-access-main form .check-group input[type="checkbox"] + label:before {
        content: "";
        display: inline-block;
        width: 29px;
        height: 26px;
        margin: -1px 20px 0 -38px;
        vertical-align: middle;
        background: url('../img/check-sprite.png') left top no-repeat; }
      .b-access-main form .check-group input[type="checkbox"]:checked + label:before {
        background: url('../img/check-sprite.png') -29px top no-repeat; }
    .b-access-main form .certify-group {
      float: left;
      margin-top: 10px; }
      .b-access-main form .certify-group .certify {
        vertical-align: middle; }
        .b-access-main form .certify-group .certify + label {
          cursor: pointer; }
        .b-access-main form .certify-group .certify + label:before {
          content: "";
          display: inline-block;
          width: 19px;
          height: 17px;
          margin: 0 10px 0 0;
          vertical-align: middle;
          background: url('../img/check-sprite-small.png') left top no-repeat; }
        .b-access-main form .certify-group .certify:checked + label:before {
          background: url('../img/check-sprite-small.png') -19px top no-repeat; }
      .b-access-main form .certify-group .certify-label {
        margin-top: -19px;
        font-size: 14px;
        color: #888888; }
    .b-access-main form .signup-btn {
      background-color: #ffb518;
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      padding: 15px 35px;
      border-radius: 20px; }
      .b-access-main form .signup-btn:hover {
        background-color: #e49b00; }
      .b-access-main form .signup-btn:focus {
        outline: 0; }
      @media screen and (max-width: 768px) {
        .b-access-main form .signup-btn {
          width: 100%; } }

.footer-main {
  background-color: white;
  padding-bottom: 20px; }
  .footer-main .footer-nav ul {
    width: 100%;
    text-align: center;
    padding-left: 0; }
    .footer-main .footer-nav ul li {
      list-style: none;
      display: inline-block;
      margin-left: -4px;
      padding: 0 10px; }
      .footer-main .footer-nav ul li a {
        color: #888888;
        padding: 0 15px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px; }
        .footer-main .footer-nav ul li a:hover {
          color: black; }

.close-nav {
  text-align: right;
  position: absolute;
  right: 0;
  z-index: 3; }
  .close-nav .close-mobile-nav {
    background-color: transparent;
    font-size: 40px;
    color: #a1a1a1; }
    .close-nav .close-mobile-nav:focus {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .close-nav .close-mobile-nav:hover {
      color: #6e6e6e; }

.mobile-nav {
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px; }
  @media screen and (max-width: 360px) {
    .mobile-nav {
      margin-top: 60px; } }
  .mobile-nav li .mobile-nav-link {
    display: inline-block !important;
    font-size: 18px;
    color: #6e6e6e; }
    .mobile-nav li .mobile-nav-link:hover {
      color: #222222; }
  .mobile-nav li .nav-link-small {
    font-size: 13px; }
  .mobile-nav li .first-small {
    margin-top: 15px; }
  .mobile-nav li .download-link {
    background-color: #ffb518;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 25px;
    margin-bottom: 10px; }
    .mobile-nav li .download-link:focus {
      background-color: #ffb518;
      color: white; }
    .mobile-nav li .download-link:hover {
      background-color: #e49b00;
      color: white; }

.b-access-mobile {
  text-align: center;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #d4d4d4; }
  .b-access-mobile a {
    display: block;
    color: white;
    background-color: #ff4318;
    border-radius: 30px;
    padding: 12px 20px;
    width: 230px;
    margin: 0 auto;
    text-decoration: none; }
    .b-access-mobile a:hover {
      background-color: #e42a00; }
    @media screen and (max-width: 500px) {
      .b-access-mobile a {
        width: 100%; } }

@media screen and (max-width: 767px) {
  .sidebar-offcanvas {
    position: fixed;
    z-index: 7000;
    width: 60%;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: white;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: -2px 0px 5px 0px rgba(153, 153, 153, 0.5);
    -moz-box-shadow: -2px 0px 5px 0px rgba(153, 153, 153, 0.5);
    box-shadow: -2px 0px 5px 0px rgba(153, 153, 153, 0.5); }
  .row-offcanvas-right {
    right: 0; }
  .row-offcanvas-left {
    left: 0; }
  .row-offcanvas-right.sidebar-offcanvas {
    right: -62%; }
  .row-offcanvas-left.sidebar-offcanvas {
    left: -62%; }
  .row-offcanvas-right.active {
    right: 0; }
  .row-offcanvas-left.active {
    left: 0; } }

/*# sourceMappingURL=style.css.map */